

.bag-container {
    width: 29%;
    color: white;
    padding: 10px;
}

.bag-container h1 {
    text-align: center;
    font-size: 21px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.btnSubmit {
    display: flex;
    gap: 15px;
    justify-content: end;
    margin-right: 5px;
    margin-top: 30px;
}

.btnSubmit button {
    cursor: pointer;
    height: 5vh;
    width: 28%;
    background-color: rgb(251, 203, 26);
    border-radius: 7px;
    border: none;
}

.btnSubmit:hover button {
    background-image: linear-gradient(to bottom, rgb(15, 15, 32), rgb(32, 31, 31));
    color: white;
}

.inpField input {
    width: 95%;
    height: 6vh;
    margin-left: 1px;
}

#inpu {
    margin-top: 30px;
}

.parent {
    display: flex;
    justify-content: space-between;
}

.box {
    background-color: rgb(17, 22, 28);
    height: 44vh;
    padding: 20px;
}

.box-for-form {
    margin-top: 35px;
}

.box p {
    margin-left: 1px;
}

.check-div {
    display: flex;
    gap: 10px;
}

.div-main {
    margin-top: 50px;
    color: white;
}

.div-main span {
    color: green;
    cursor: pointer;
}

body {
    background-color: black;
}

#left i {
    color: white;
}

#right i {
    color: white;
}

.cheveron {
    cursor: pointer;
}



@media(max-width:757px) {
    .bag-container {
        width: 80%;
    }
}

@media(max-width: 640px) {
    .bag-container {
        width: 80%;
    }
    .box {
        height: 40vh;
    }
}