*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
}
.login-container {
    background-color: rgb(17, 22, 28);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}
.login-container h2 {
    text-align: center;
    color: white;
}
.form-group {
    margin-bottom: 15px;
    position: relative;
}
label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.password-container {
    /* display: flex; */
    align-items: center;
}
.toggle-password {
    position: absolute;
    right: 10px;
    top: 65%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 14px;
    background: none;
    border: none;
}
.login-btn {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
.login-btn:hover {
    background: #0056b3;
}
.forgot-password {
    display: block;
    text-align: right;
    margin-top: 5px;
    font-size: 14px;
    color: #007BFF;
    text-decoration: none;
}
.forgot-password:hover {
    text-decoration: underline;
}

.login-container p {
    text-align: center;
    margin-top: 20px;
}

.doNotHaveAcct {
    cursor: pointer;
}